/*.navbar-default {
	color: white;
	background-color: black;
}
.navbar-nav {
color: white;
background-color: black;
}*/

body {
  font-family: 'Raleway', 'sans-serif';
  background-color: #e1e8f4;
}

.jumbo {
	background-image: url("./portfolio-images/portfolio1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin-top: -40px;
	padding: 20%;
	background-attachment: fixed;
	background-position: center -238px;
}
.portfolio-title {
	position: absolute;
	left: 0;
	margin-top: -10px;
	padding-left: 20px;
	color: #ffffff !important;
}

.about {
	background-color: #c0e0d8;
	color: #f7fafe;
	margin-top: -30px;
}
.about h3{
	padding: 5% 10%;
}

.work {
	font-family: 'Muli', 'sans-serif';
	text-align: center;
	font-size: 1.2em;
	padding-top: 10px;
	color: #3b4442;
	background-color: #deeae7;
}


footer {
	background-color: #c6d1ce;
	position: absolute;
	width: 100%;
	height: auto;
}

footer li{
	display: inline-block;
	list-style-type: none;
	padding: 2%;
	float: right;
}

footer: link {
	color: white;

}